@tailwind base;

@tailwind components;

@tailwind utilities;

.particle-wrapper {
	background-color: #626262;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.playfair-font {
	font-family: 'Playfair Display', serif;
}

.particle-wrapper {
	background: #626262;
}
